body{
  font-family: Arial;
  font-size:15px;
  padding:0;
  margin:0;
}

.container {
  width:80%;
  margin:auto;
  overflow: hidden;
}

header {
  background-color:#33ccff;
  padding-top:15px;
  min-height:20px;
  border-bottom:#187FEC 3px solid;
}
header h1{
  font-family: serif;
  float:left;
  padding-bottom: 15px;
  color: #ffd26b;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#middling{
  float:left;
  padding: 20px;
}
header #search {
  float:right;
  padding-top: 20px;
  padding-bottom: 15px;
  display: inline;
}

#featured {
  float:left;
  background-color:#b496ff;
  margin-top: 15px;
  width: 50%;
  text-align: center;
}

#upcoming {
  float:left;
  background-color:orange;
  margin-top: 15px;
  width: 50%;
  text-align: center;
}
