body{
  font-family: Arial;
  font-size:15px;
  padding:0;
  margin:0;
}

.container {
  width:80%;
  margin:auto;
  overflow: hidden;
}

#mainFront{
  margin: 10px;
}
header {
  background-color:#b35900;
  padding-top:15px;
  min-height:20px;
  border-bottom:#4d2800 3px solid;
}
header h1{
  font-family: serif;
  float:left;
  padding-bottom: 15px;
  color: #ffd26b;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header #search {
  float:right;
  padding-top: 20px;
  padding-bottom: 15px;
  display: inline;
}

header a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family:Helvetica;
  font-weight: bold; 
}

header a:hover {
  color:#12312e;
}

.searchButton {
  color:black;
  background:white;
  font-family:Helvetica;
}

#featured {
  float:left;
  background-color:black;
  width: 48%;
  text-align: center;
}
#mainFront h2 {
  color: white;
}
#upcoming {
  float:right;
  background-color:orange;
  width: 48%;
  text-align: center;
}
#featuredBox {
  float: left;
  padding-top: 15px;
  background-color: grey;
  width: 48%;
}
#upcomingBox {
  float: right;
  padding-top: 15px;
  background-color:#ffdab3 ;
  width: 48%;
}
ul {
  padding:0;
  margin:0;
}
li {
  list-style-type: none;
}
#mainListing {
  margin:15px;
}

.clubPageBody {
  margin:10px;
  background-color: white;
}
.clubName {
  border:2px solid black;
  text-align:center;
  margin-bottom:5px;
  font-size:24px;
}
.clubDescription{
  float:left;
  width:47%;
  border:2px solid black;
  margin-bottom:5px;
}
.clubDescription h2{
  text-align:center;
}
.clubDescription p {
  margin: 15px;
}
.indieEvents {
  float:right;
  width:50%;
  border:2px solid black;
  min-height: 200px;
}
.indieEvents h2 {
  text-align:center;
}
.contactinfo{
  float:left;
  width:47%;
  margin:0;
  margin-bottom:2px;
  border:2px solid black;
}
.contactinfo h2 {
  text-align:center;
  margin: 5px;
}
.contactinfo p {
  margin: 15px;
}
